*,
*::before,
*::after{
    box-sizing: border-box;
}
/* cunstom properties  */

:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    -fw-reg:300;
    --fw-bold:900;

    --clr-light:#fff;
    --clr-text:#303030;
    --clr-ascent:#16e0bd;

    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;
   
    @media (min-width:800){
        :root{
            --fs-h1:4.5;
            --fs-h2:3.75rem;
            --fs-h3:1.5rem;
            --fs-body:1.125rem;
        }
    
    }}
    
/* General styles */

body{
    background:var(--clr-ascent);
    color: var(--clr-dark);
    margin:0;
    font-family: var(--fs-body);
    line-height: 1.6;
}

img{
    display: block;
    max-width: 100%;

}

/* Topography  */
h1,
h2,
h3{
    line-height: 1.1;
    margin:0;
}

h1{
    font-size: var(--fs);
}




